

#sign-up-label{
    font-size: 40px !important;
    color: white;
}

#email-title{
    color: white;
}

#password-title{
    color: white;
}

#username-title{
    color: white;
}

#message{
    color: white;
}

#sign-up-continer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
}